body {
  font-family: Arial, sans-serif;
  margin: 30px;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

#productos, #carrito {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#productos li, #carrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info span {
  margin-right: 10px;
}

.discount {
  color: #e74c3c;
  font-weight: bold;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #e74c3c;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  color: #c0392b;
}

#total {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

#comprarBtn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

#comprarBtn:hover {
  background-color: #218838;
}

/* Estilos para la capa de superposición */
.detalleCompra {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1; 
}

/* Estilos para el contenido de la capa de superposición */
.detalleCompra-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#totalCompra {
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px; 
  border-top: 1px solid #ccc; 
  padding-top: 10px; 
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1);
}

#graciasPorCompra {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#listadoProductosComprados {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilos para el botón de cerrar */
.cerrarDetalleCompra {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}



